<h1 class="header"> Top Restaurants</h1> <br><br>

<div class="content">

	<% current_user.restaurants.each do |restaurant| %>
			<div class="restaurant-item">
				<%= render "restaurants/restaurant", collection: @restaurants, restaurant: restaurant %> 
			</div>
	<% end %>

</div>