<h2 class="title ui orange center aligned icon header">
  <i class="circular cocktail icon"></i>
  Date Night
</h2>


<div class="content">
	<% @restaurants.each do |restaurant| %>

		<div class="restaurant-item">
			<%= render "restaurant", collection: @restaurants, restaurant: restaurant %> 
		</div>

	<% end %>
</div>



