<h1>Date Night</h1>

<% @restaurants.each do |restaurant| %>
	<ul>
		<li>
			<img src="<%= restaurant.image_url %>" width="260" height="190"> <br>	
			<a href="<% restaurant.url %>"><%= restaurant.name %></a> <br>
			<a href="tel:<%= restaurant.phone %>"><%= restaurant.phone %></a>
			
		</li>
	</ul>
<% end %>

