<h2 class="ui center aligned icon header">
  <i class="circular cocktail icon"></i>
  Date Night
</h2>

<table class="ui table">
<% @restaurants.each do |restaurant| %>

	 <tbody>
		<tr>
			<td class="column"><%= render "restaurant", collection: @restaurants, restaurant: restaurant %> </td>
		</tr>
	</tbody>

<% end %>
</table>


