/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";
@import "font-awesome";
@import "custom.scss";

#nav {
	color: orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0% 2%;
    overflow: hidden;
}

li {
    float: right;
    padding: 2% 3%;
    font-size: 1.5em;
}

li a {
	color: orange;
}

li a:hover {
	color: blue;
}

#home {
	float: left;
	padding: 2% 3%;
}

#signup a, .header {
	color: blue;
}

#signup a:hover {
	color: orange;
}

.content, .header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.restaurant-item {
	display: inline-block;
	padding: 2%;
}
